@using MirimWebsite.Models
@model MirimWebsite.Models.CNotice
@{
    Layout = null;
}
<!-- 2018.05.23~ 구지원 제작 -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3학년 5반 웹사이트</title>
    <!-- 3학년 5반 웹사이트 관련 stylesheet-->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- Google Web Font 나눔고딕 글꼴 -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
</head>

<body>
    <!-- 2018.06.12 koo : include html file-->
    @Html.Partial("MenuBar")

    <div class="modal-background" id="modal-background"></div>
    <div class="section" id="section" style="width:100%;height:100%;padding-top:120px;margin:0 auto;text-align:center;">
        <table style="margin: 0 auto;" id="noticeTable">

            @foreach (CNotice iter in ViewBag.theNotice)
            {
                <tr>
                    <td style="width: 850px;box-shadow: 0px 1px 3px #cecece; border-radius: 20px;text-align: left;padding:35px;background-color:#fff;display:inline-block;margin-bottom:35px;">
                       
                        @iter.theWriter
                        <!--<img src="../../icon/closeIcon.svg" width="30" style="float:right;margin-left:15px;" class="ho">-->
                        <a href="@Url.Action("NoticeDelete", "home", new { uid = @iter.theUniqueID })"><img src="../../icon/closeIcon.svg" width="30" style="float:right;margin-left:15px;"></a>
                        <!-- <img src="../../icon/pencil.svg" width="30" style="float:right;" class="ho" onclick="viewNoticeEditDiv()"> -->
                        <p style="font-size: 1.3em; color: #000; text-indent: 10px;">@iter.theTitle</p>
                        <p style="font-size: 1.1em; color: #000; text-indent: 10px;">@iter.theContent</p>
                        <span style="font-size:1.1em;color:#000;float:right;">@iter.theDate</span>

                    </td>

                </tr>

            }
            <tr>
                <td colspan="4">
                    @Html.PageLinks((int)ViewBag.theCurrentPage, (int)ViewBag.theTotalPage, x => Url.Action("Notice", new { page = x }))
                </td>
            </tr>
        </table>

        <!-- 공지사항 올리는 Div -->
        <div id="noticeDiv" class="floatDiv" style="position:absolute;margin-top:5%;">
            <br><br>
            <span class="cancel" onclick="cancel()">X</span>
            <br>
            <span style=" color: #008156; font-size: 1.3em; margin-right:130px;">공지사항 등록</span><br>

            <br><br>
            @using (Html.BeginForm("Notice"))
            {

                <!--글 작성자 textbox-->
                @Html.TextBoxFor(x => x.theWriter, new { @placeholder = "작성자를 입력하세요.", @class = "inputText", @style = "margim:0 auto;" })
                <!--제목 textbox-->
                @Html.TextBoxFor(x => x.theTitle, new { @placeholder = "제목을 입력하세요.", @class = "inputText", @style = "margim:0 auto;" })

                <br><br><br><br>
                <!--공지 글 작성 textarea-->
                @Html.TextAreaFor(x => x.theContent, new { @placeholder = "공지글을 적어주세요.", @class = "inputText", @style = "margim:0 auto;" })

                <br><br><br>

                <!-- 작성 취소 버튼 -->
                <input type="button" value="취소하기" onclick="cancel()" class="cancelBtn" style="margin: 0 auto;">
                <div class="space"></div>
                <!-- 작성 완료 버튼 -->
                <input type="submit" value="등록하기" class="okBtn">
            }
        </div>

        <!-- 수정 하는 Div -->
        <div id="noticeEditDiv" class="floatDiv" style="position:absolute;margin-top:5%;">
            <br><br>
            <span class="cancel" onclick="cancel()">X</span>
            <br>
            <span style=" color: #008156; font-size: 1.3em; margin-right:130px;">공지사항 수정</span><br>

            <br><br>
            @using (Html.BeginForm("Notice"))
            {

                <!--글 작성자 textbox-->
                @Html.TextBoxFor(x => x.theWriter, new { @placeholder = "작성자", @class = "inputText", @style = "margim:0 auto;" })
                <!--제목 textbox-->
                @Html.TextBoxFor(x => x.theTitle, new { @placeholder = "제목", @class = "inputText", @style = "margim:0 auto;" })

                <br><br><br>
                <!--공지 글 작성 textarea-->
                @Html.TextAreaFor(x => x.theContent, new { @placeholder = "공지글", @class = "inputText", @style = "margim:0 auto;" })

                <br><br>

                <!-- 작성 취소 버튼 -->
                <input type="button" value="취소하기" onclick="cancel()" class="cancelBtn" style="margin: 0 auto;">
                <div class="space"></div>
                <!-- 작성 완료 버튼 -->
                <input type="submit" value="수정하기" class="okBtn">
                <br><br><br><br>
            }
        </div>

        <div class="floatBtnLo" onclick="viewNoticeDiv()"><img src="../../icon/floatBtn.svg" class="floatBtn"></div>

    </div>
    <!-- end of section -->

    <script>
        var noticeDivStyle = document.getElementById('noticeDiv');
        var noticeEditDiv = document.getElementById('noticeEditDiv');
        var modalBackground = document.getElementById('modal-background');
        
        function viewNoticeDiv() {
            noticeDivStyle.style.display = "block"
            modalBackground.style.display = "inline-block"
          
        }

        function viewNoticeEditDiv() {
            noticeEditDiv.style.display = "block"
            modalBackground.style.display = "inline-block"

        }

        function cancel() {
            noticeDivStyle.style.display = "none"
            noticeEditDiv.style.display = "none"
            modalBackground.style.display = "none"
        }
    </script>


</body>

</html>