
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoticeOK</title>
</head>
<body>
    <div> 
        <p>게시판 등록 완료</p>
        <p>작성자 : @ViewBag.theWriter</p>
        
        <p>제목 : @ViewBag.theTitle</p>
        <p>내용 : @ViewBag.theContent</p>
        <p>가입일 : @ViewBag.theDate</p>
        <a href="@Url.Action("", "")">Home</a>
    </div>
</body>
</html>
